.dialogue-tree {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #616163;
}

.dialogue-tree__inner {
  box-sizing: border-box;
  padding: 10px;
  background-color: #929487;
}

.dialogue-tree__node-spacer:not(:first-of-type) {
  padding-top: 8px;
}

.dialogue-tree__node-wrapper {
  background-color: none;
  border-radius: 8px;
  overflow-y: auto;
  padding: 12px;
}

.dialogue-node-choices {
  margin-top: 12px;
  margin-bottom: 4px;
}

.dialogue-node-choices__choice {
  padding: 4px;
  border-radius: 4px;
}

/* last-of-type is current active node */
.dialogue-tree__node-spacer:last-of-type .dialogue-tree__node-wrapper {
  background-color: white;
}

.dialogue-tree__node-spacer:last-of-type .dialogue-node-choices__choice {
  list-style-type: circle; 
}

.dialogue-tree__node-spacer:last-of-type .dialogue-node-choices__choice:hover {
  list-style-type: disc; 
  background-color: #eee; 
}

.dialogue-tree__node-spacer:last-of-type .dialogue-node-choices__choice:active {
  background-color: #ccc; 
}
