/* https://coolors.co/616163-fddd9b-929487-a1b0ab-c3dac3 */

html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.welcome-dialogue-story {
  height: 100%;
  background-color: #FDDD9B;
  box-sizing: border-box;
  padding: 8px;
}

.dialogue-tree-container {
  bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  left: 10px;
  position: fixed;
  right: 10px;
}

.dialogue-tree {
  flex: 1;
}
