/* https://coolors.co/616163-fddd9b-929487-a1b0ab-c3dac3 */

html, body {
  margin: 0;
}

.dialogue-tree-container {
  bottom: 10px;
  height: 300px;
  left: 10px;
  position: fixed;
  right: 10px;
}

.dialogue-tree-container .dialogue-tree {
  height: 100%;
}

